:host {
    width: 100%;
    height: 100vh;
    display: block;
}

.play-screen {
    margin-top: 15px;
}

:host-context(.mobile-mode) {
    .audio-mute-toggle {
        color: white;
        display: inline-block;
        float: left;
    }
    
    .game-stage {
        display: inline-block;
    }
}