:host {
    width: 100%;
    height: 100%;
}


.welcome-screen {
    position: relative;
    .start-game-icon {
        position: absolute;
        top: 407px;
        left: 557px;
        font-size: 100px;
        color: #DFEAED;
        cursor: pointer;
    }
}